{% extends "base.html" %}

{% block main %}
<main>
<div class="row mt-5">
    <div class="col-5">
        <div class="list-group">
            {% for s in budget_sheets %}
            <a href="{% url 'sheet' s.pk %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{s.sheet_name}}</h5>
              <small class="text-muted">{{s.start_date}}</small>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
</main>
{% endblock %}
