{% extends "base.html" %}

{% block main %}
<main>
<div class="row align-items-center justify-content-start">
    <div class="col-auto">
        <h1>{{sheet.sheet_name}}</h1>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary" role="button" href="{% url 'archive' %}">Archief</a>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary" role="button" href="{% url 'add_sheet' %}">Start nieuwe periode</a>
    </div>
</div>
<div class="row">
    {% for c in categories %}
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{c.category_name}}</th>
                    <th scope="col">Budget</th>
                    <th scope="col"> Werkelijk</th>
                </tr>
            </thead>
            <tbody>
                {% for a in actuals %}
                    {% if a.budget.category_id == c.id %}
                        <tr>
                            <td>{{a.budget.budget_name}}</td>
                            <td>{{a.budget.budget}}</td>
                            <td><a href="#">{{a.actual}}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
</main>
{% endblock %}
