<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

    <!-- Side navigation -->
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="container-fluid navbar-nav">
            <div class="navbar-nav">
            <a class="nav-link {% if request.path == '/index/'%} active {% endif %}" href='/index/'>Home</a>
            <a class="nav-link {% if request.path == '/financien/'%} active {% endif %}" href='/financien/'>Financiën</a>
            </div>
        </div>
    </nav>

    <!-- Page content -->
    <div class="container-fluid">
    {% block main %}
    {% endblock %}
    </div>
</body>
</html>