<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container-fluid">

        <!-- Navbar -->
        <div class="row justify-content-start">
            <div class="col-auto">
                <a href='/index/'>Home</a>
            </div>
            <div class="col-auto">
                <a href='/financien/'>Financiën</a>
            </div>
        </div>

    <!-- Page content -->
    {% block main %}
    {% endblock %}
    </div>
</body>
</html>