<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>



<!-- Side navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <ul class="navbar-nav">
            {% for app in my_apps %}
            <li class="nav-item">
                <a class="nav-link" href="{{ app.url }}">{{ app.display_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<!-- Page content -->
<main class="container-fluid">
    <div class="vh-100 d-flex justify-content-center align-items-center bg-body">
        <div class="row "></div>
        <h1>Welkom op planeet KrankYoram!</h1>
    </div>
</main>
</body>
</html>